$purple: #7f7fb5;
$black: #000;
$red: #e62b1e;
$audio-ctrl-color: $purple;
$audio-ctrl-color-stop: $red;
$audio-ctrl-color-pause: orange;
$audio-ctrl-color-play: green;

html {
  width: 100%;
  height: 100%;
}

body {
  color: $purple;
  background: $black;
  width: 100%;
  height: 100%;
}

.overlay-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.audio-ctrl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.ted-annotations-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.audio-ctrl {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid $audio-ctrl-color;
  color: $audio-ctrl-color;
  cursor: pointer;
  line-height: 50px;
  margin: 0 0.4rem;

  &.audio-ctrl-big {
    width: 75px;
    height: 75px;
    line-height: 75px;
  }

  &.btn-stop {
    color: $audio-ctrl-color-stop;
    border-color: $audio-ctrl-color-stop;
  }

  &.btn-pause {
    color: $audio-ctrl-color-pause;
    border-color: $audio-ctrl-color-pause;
  }

  &.btn-fast-forward,
  &.btn-rewind,
  &.btn-play {
    color: $audio-ctrl-color-play;
    border-color: $audio-ctrl-color-play;
  }

  &.btn-zoom-in {
    margin-left: 4rem;
  }
}

.audio-pos {
  font-size: 20px;
  font-weight: 200;
}

.ted-media {
  float: left;
  width: 50%;
}

.playlist {
  .state-cursor {
    cursor: text;
  }

  .playlist-time-scale {
    height: 30px;
  }

  .playlist-tracks {
    background: $black;
  }

  .channel {
    background: grey;
  }

  .selection.point {
    background: grey;
  }

  .cursor {
    background: $red;
  }

  .channel-progress {
    background: $red;
  }

  .annotations-boxes {
    text-align: center;
  }

  .annotation-box {
    border: 2px dashed grey;
    padding: 0 10px;

    .resize-handle {
      background: grey;
      opacity: 0.3;
      cursor: ew-resize;
    }

    .id {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  .annotations-text {
    font-size: 15px;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

    .annotation {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      span {
        margin: 0.3rem 1rem;

        &:last-of-type {
          margin-right: 1.2rem;
        }
      }

      .annotation-id {
        width: 30px;
        text-align: right;
        line-height: 27px;
      }

      .annotation-start {
        width: 90px;
        text-align: right;
        line-height: 27px;
      }

      .annotation-end {
        width: 90px;
        text-align: right;
        line-height: 27px;
      }

      .annotation-lines {
        flex-grow: 10;
        white-space: pre;
        color: white;
        font-weight: 100;
        font-size: 18px;
      }

      .annotation-actions {
        flex-basis: auto;
        width: 80px;
        text-align: right;
        font-size: 16px;

        i {
          margin-right: 0.6rem;

          &:last-of-type {
            margin-right: 0;
          }

          &:hover {
            color: $red;
            cursor: pointer;
          }
        }
      }
    }

    .current {
      background: $black;
      .annotation-lines {
        color: orange;
      }
    }
  }
}

.ted-media {
  text-align: center;
  background: $black;
}

.time-format {
  background: white;
  color: $red;
  border: none;
  border-radius: 0;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.btn-annotations-download {
  background: white;
  color: $red;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid $red;
  cursor: pointer;
  line-height: 50px;
}

.annotation-play-option {
  color: $red;

  label {
    cursor: pointer;
    font-weight: 200;
    font-size: 16px;
  }

  input {
    cursor: pointer;
    margin-right: 5px;
  }
}

footer {
  margin-top: 2em;
}

.media-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .form-group {
    width: 50%;

    &:last-child {
      text-align: right;
    }
  }

  .yt-uri {
    width: 350px;
  }
}
