$black: #000;
$red: #e62b1e;

body {
  color: #7f7fb5;
  background: $black;
}

.playlist {
  .playlist-tracks {
    background: $black;
  }

  .channel {
    background: grey;
  }

  .channel-progress {
    background: $red;
  }

  .annotations {
    .annotations-text {
      .annotation {
        span {
          margin: 0.3rem 3rem;
        }
      }

      .current {
        background: $black;
        .annotation-lines {
          color: $red;
        }
      }
    }

    .annotation-lines {
      color: white;
      font-weight: 100;
    }
  }
}

.ted-media {
  text-align: center;
  background: $black;
}

footer {
  margin-top: 2em;
}
