$purple: #7f7fb5;
$black: #000;
$red: #e62b1e;
$annotation-ctrl-height: 50px;
$audio-ctrl-color: $purple;
$audio-ctrl-color-stop: $red;
$audio-ctrl-color-pause: orange;

body {
  color: $purple;
  background: $black;
}

.stage {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: $annotation-ctrl-height;
}

.audio-ctrl-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-ctrl {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid $audio-ctrl-color;
  color: $audio-ctrl-color;
  cursor: pointer;
  line-height: 50px;

  &.audio-ctrl-big {
    width: 75px;
    height: 75px;
    line-height: 75px;
  }

  &.btn-stop {
    color: $audio-ctrl-color-stop;
    border-color: $audio-ctrl-color-stop;
  }

  &.btn-pause {
    color: $audio-ctrl-color-pause;
    border-color: $audio-ctrl-color-pause;
  }
}

.ted-media {
  float: left;
  width: 50%;
}

.playlist {
  .state-cursor {
    cursor: text;
  }

  .playlist-time-scale {
    height: 30px;
  }

  .playlist-tracks {
    background: $black;
  }

  .channel {
    background: grey;
  }

  .selection.point {
    background: $red;
  }

  .channel-progress {
    background: $red;
  }

  .annotations-boxes {
    text-align: center;
  }

  .annotation-box {
    border: 2px dashed grey;
    padding: 0 10px;

    .resize-handle {
      background: grey;
      opacity: 0.3;
      cursor: ew-resize;
    }

    .id {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  .annotations-text {
    font-size: 15px;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

    .annotation {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      span {
        margin: 0.3rem 1rem;

        &:last-of-type {
          margin-right: 1.2rem;
        }
      }

      .annotation-id {
        line-height: 27px;
      }

      .annotation-start {
        line-height: 27px;
      }

      .annotation-end {
        line-height: 27px;
      }

      .annotation-lines {
        flex-grow: 10;
        white-space: pre;
        color: white;
        font-weight: 100;
        font-size: 18px;
      }

      .annotation-actions {
        flex-basis: auto;
        width: 80px;
        text-align: right;
        font-size: 16px;

        i {
          margin-right: 0.6rem;

          &:last-of-type {
            margin-right: 0;
          }

          &:hover {
            color: $red;
            cursor: pointer;
          }
        }
      }
    }

    .current {
      background: $black;
      .annotation-lines {
        color: $red;
      }
    }
  }
}

.ted-media {
  text-align: center;
  background: $black;
}

footer {
  margin-top: 2em;
}
