<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
